@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);

    * {
      margin: .2rem;
    }
    
   #totalaccses{
     background-color: black;
   }
   input:valid, textarea:valid {
    border-color:rgb(40, 224, 71)  ;
  }
  input:invalid, textarea:invalid {
    border-color:rgb(219, 36, 57)  ;
  }
    
    #remember {
      display: inline-block;
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: relative;
      margin-left: 5px;
      margin-right: 10px;
      top: 5px;
    }

    #social {
      width: 100%;
      position: relative;
      overflow: hidden;
      text-align: center;
      padding: .5rem;
    }
    #buttonLogin {
      font-size: 1.1rem;
      padding: 10px;
      margin: 20px 5px;
      background-color: #66A756;
      color: white;
      border: none;
      border-radius:4px;
      width: 40%;
      float:center;
      
    }
    input {
      width: 100%;
      font-size: 1.2rem;
      font-family: "Open Sans";
      margin: 2rem 0rem;
      padding: .7rem;
      border-radius:4px;
      
  } 
    
    #facebook {
      background-color: #4464B2;
      color:white;
      align-content: center;
      border-radius:4px;
      border: none;
      float:center;
      width:12rem; 
    }
    
    #google {
      background-color: #DA4735;
      color:white;
      float:center;
      border: none;
      border-radius:4px;
      width:12rem; 
    }
       
